@model GestionDeStockMagasin.ViewModels.ProductCreateViewModel

@{
    ViewData["Title"] = "Create";
}




<form asp-action="Create">
    <div class="border p-3 mt-4">

			<div class="row pb-2">
			    <h2 class="text-primary">Create Product</h2>
			    <hr />
		    </div>
		
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="product.Nom" class="control-label"></label>
                <input asp-for="product.Nom" class="form-control" />
                <span asp-validation-for="product.Nom" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="product.Marque" class="control-label"></label>
                <input asp-for="product.Marque" class="form-control" />
                <span asp-validation-for="product.Marque" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="product.QteStock" class="control-label"></label>
                <input asp-for="product.QteStock" class="form-control" />
                <span asp-validation-for="product.QteStock" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <select class="form-select" asp-for="IdCategory" asp-items="@(new SelectList(Model.category,"IdCategory","Name"))" >
                        <option selected>Choisir Categorie  </option>
                </select>
                <!--<span asp-validation-for="Categorie" class="text-danger"></span>-->
            </div>
            <div class="form-group mb-3">
                <label asp-for="product.Description" class="control-label"></label>
                <input asp-for="product.Description" class="form-control" />
                <!--<label for="product.floatingTextarea"></label>-->
            </div>
            <div class="form-group mb-3">
                <label asp-for="product.prixUnite" class="control-label"></label>
                <input asp-for="product.prixUnite" class="form-control" />
                <span asp-validation-for="product.prixUnite" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        
        
    </div>
</form>
<div>
    <a asp-controller="Product" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Back to List
		</a>
</div>


@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}