@model stock_management.Models.Personnel

@{
    ViewData["Title"] = "Edit";
}
@*
<h1>Edit</h1>

<h4>Personnel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adresse" class="control-label"></label>
                <input asp-for="Adresse" class="form-control" />
                <span asp-validation-for="Adresse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Role" class="control-label"></label>
                <input asp-for="Role" class="form-control" />
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
*@

<form method="post" asp-action="Edit">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Edit Personnel</h2>
            <hr />
        </div>

        </div>
          <div class="mb-3">
            <label asp-for="Nom">LastName</label>
            <input asp-for="Nom" class="form-control"/>
            <span asp-validation-for="Nom" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Prenom">FirstName</label>
            <input asp-for="Prenom" class="form-control"/>
            <span asp-validation-for="Prenom" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control"/>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Adresse">Adresse</label>
            <input asp-for="Adresse" class="form-control"/>
            <span asp-validation-for="Adresse" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Role">Role</label>

            <select asp-for="Role" class="form-select" aria-label="Admin/Cashier/Delivery Man">
              <option asp-for="Role value="1">Admin</option>
              <option asp-for="Role value="2">Cashier</option>
              <option asp-for="Role value="3">Delivery Man</option>
            </select>
            <span asp-validation-for="Role" class="text-danger"></span>
        </div>
         <div class="mb-3">
            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control"/>
            <span asp-validation-for="Phone" class="text-danger"></span>
        </div>
        
        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        <a asp-controller="Personnels" asp-action="Index" class="btn btn-secondary" style="width:300px">
            Back To Personnel List
        </a>
    </div>
</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}


